@charset "UTF-8";

button{
    cursor: pointer;
}

/* CORPO DO PROGRAMA */

body{
    text-align: center;
    background-color: #a08764;
}

.containers{
    display: flex;
    flex-wrap: wrap-reverse;
    text-align: center;
}

div.demo-card-square.mdl-card {
    width: 300px;
    height: 330px;
    margin: 30px auto;
}

.mdl-card__title{
    color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mdl-card__supporting-text{
    text-align: left;
}

.mdl-card__title > h2{
    color: white;
}

div.mdl-card--border{
    background-color: white;
    cursor: pointer;
}

div.mdl-card--border:hover{
    background-color: #4CAF50;
}